
.details {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
}
.details-image {
  margin-top: 1em;
  margin-left: 1em;
  flex: 2 1 15rem;
}
.details-image img {
  max-width: 30rem;
  max-height:40rem;
  width: 90%;
}
.details-info {
  flex: 1 1 20rem;
}

.details-info ul,
.details-action ul {
  list-style-type: none;
  padding: 0;
}
.details-info li,
.details-action li {
  margin-bottom: 0.9rem;
}

.details-info h3{
  margin-bottom: 3rem;
}
