.product-list{
  margin: 90px 20px 75px 23px;
  padding: 0;
  list-style: none;
  width: 90%;
  align-items: flex-start;
}

@media (min-width: 340px) {
  .product-list{
    margin: 80px 30px 75px 98px;
    padding: 0;
    list-style: none;
    width: 90%;
    align-items: flex-start;
  }
}
